In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import average_precision_score

Importing the training datasets

In [3]:
# loading the dataset to a Pandas DataFrame
credit_card_dataX = pd.read_csv('/content/X_train_G3tdtEn.csv')

<ipython-input-3-77dea84f5a2f>:2: DtypeWarning: Columns (19,20,21,22,23,24,67,68,69,70,71,72,91,92,93,94,95,96,97,107,109,111,112,113,114,115,117,118) have mixed types. Specify dtype option on import or set low_memory=False.
  credit_card_dataX = pd.read_csv('/content/X_train_G3tdtEn.csv')

In [4]:
# loading the dataset to a Pandas DataFrame
credit_card_dataY = pd.read_csv('/content/Y_train_2_XPXJDyy.csv')

On visualise les 5 premières lignes de la base de donnée X

In [5]:
# first 5 rows of the dataset
credit_card_dataX.head()

,ID,item1,item2,item3,item4,item5,item6,item7,item8,item9,...,Nbr_of_prod_purchas16,Nbr_of_prod_purchas17,Nbr_of_prod_purchas18,Nbr_of_prod_purchas19,Nbr_of_prod_purchas20,Nbr_of_prod_purchas21,Nbr_of_prod_purchas22,Nbr_of_prod_purchas23,Nbr_of_prod_purchas24,Nb_of_items
0,85517,COMPUTERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,51113,COMPUTER PERIPHERALS ACCESSORIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,83008,TELEVISIONS HOME CINEMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,78712,COMPUTERS,COMPUTER PERIPHERALS ACCESSORIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4,77846,TELEVISIONS HOME CINEMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

On fait de même pour Y

In [6]:
# first 5 rows of the dataset
credit_card_dataY.head()

   index     ID  fraud_flag
0      0  85517           0
1      1  51113           0
2      2  83008           0
3      3  78712           0
4      4  77846           0

On remarque que le dataset X a besoin de pré-traitement pour être exploité. 
Pour mieux traiter le dataset, il est important de comprendre son organisation :
La base contient une liste d'achats effectués chez un partenaire de BNP  que ils ontfinancés. Les informations décrivent exclusivement le contenu du panier.

Pour chaque observation de la base, il y a 147 colonnes dont 144 peuvent être regroupées en 6 catégories :

item,

cash_price,

make,

model,

goods_code,

Nbr_of_prod_purchas.

Description de la variable de sortie (Y)
Variable	Description
ID (Num)	Identifiant unique
fraud_flag (Num)	Fraude = 1, Non Fraude = 0

# **Pré-traitement de la bdd**

La taille des bases de données est la suivante

In [19]:
len(credit_card_dataX)

92790

In [20]:
len(credit_card_dataY)

92790

In [23]:
credit_card_dataX.dtypes

ID                         int64
item1                     object
item2                     object
item3                     object
item4                     object
                          ...
Nbr_of_prod_purchas21    float64
Nbr_of_prod_purchas22    float64
Nbr_of_prod_purchas23    float64
Nbr_of_prod_purchas24    float64
Nb_of_items              float64
Length: 146, dtype: object

In [24]:
credit_card_dataY.dtypes

index         int64
ID            int64
fraud_flag    int64
dtype: object

Le dataset X contient des valeurs qui ne sont pas numériques et que malheureusement ne peuvent pas être exploitées par un algorithme. On doit alors transformer ces catégories en valeurs numériques.

**transformer les catégories en utilisant la fonction dummies**

In [12]:
dummies = pd.get_dummies(credit_card_dataX[[ "item1" , "item2" , "item3" , "item4" , "item5" , "item6", "item7" , "item8" , "item9" , "item10" , "item11" , "item12" , "item13" , "item14" , "item15" , "item16" , "item17" , "item18" , "item19" , "item20" , "item21" , "item22" , "item23" , "item24" , "make1", "make2", "make3", "make4", "make5", "make6", "make7", "make8", "make9", "make10", "make11", "make12", "make13", "make14", "make15", "make16", "make17", "make18", "make19", "make20", "make21", "make22", "make23", "make24", "model1", "model2", "model3", "model4", "model5", "model6", "model7", "model8", "model9", "model10", "model11", "model12", "model13", "model14", "model15", "model16", "model17", "model18", "model19", "model20", "model21", "model22", "model23", "model24", "goods_code1", "goods_code2", "goods_code3", "goods_code4", "goods_code5", "goods_code6", "goods_code7", "goods_code8", "goods_code9", "goods_code10", "goods_code11", "goods_code12", "goods_code13", "goods_code14", "goods_code15", "goods_code16", "goods_code17", "goods_code18", "goods_code19", "goods_code20", "goods_code21", "goods_code22", "goods_code23", "goods_code24"]])
credit_card_dataX = pd.concat([credit_card_dataX, dummies], axis=1)

In [13]:
credit_card_dataX.head()

,ID,item1,item2,item3,item4,item5,item6,item7,item8,item9,...,goods_code24_239969792.0,goods_code24_240177607.0,goods_code24_240222690.0,goods_code24_240237106.0,goods_code24_240282169.0,goods_code24_235274315,goods_code24_235982713,goods_code24_238178619,goods_code24_238753199,goods_code24_FULFILMENT
0,85517,COMPUTERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,51113,COMPUTER PERIPHERALS ACCESSORIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,83008,TELEVISIONS HOME CINEMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,78712,COMPUTERS,COMPUTER PERIPHERALS ACCESSORIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,77846,TELEVISIONS HOME CINEMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

**Transformer les catégories en valeurs numériques un utilisant one hot encodor (fct de yann)**

On associe à chaque marque le nombre de produits correspondants dans un panier donné.
On fait de même pour les catégories.
Enfin, om rajoute les colonnes qui nous intèressent

In [9]:
marques = []
for i in range(1, 25):
    marques.append(credit_card_dataX['make'+str(i)].astype(str).unique())

tableau_des_marques = np.unique(np.concatenate(marques))
print("Nombre de marques différentes : ",tableau_des_marques.size)

Nombre de marques différentes :  429

In [10]:
# Dataframe qui contient toutes les marques de credit_card_dataX en colonnes. 
df_make = pd.DataFrame(columns=tableau_des_marques,index=credit_card_dataX.index)

# Pour un panier donné dans DATA_x, on ajoute ``+Nbr_of_prod_purch`` dans la colonne de la marque correspondante dans df_make
for row in credit_card_dataX.index:
    for i in range(1,25):
        if type(credit_card_dataX[f"make{i}"][row]) == float: # Stop si valeur nulle
            break
        df_make[f"{credit_card_dataX[f'make{i}'][row]}"][row] = credit_card_dataX[f"Nbr_of_prod_purchas{i}"][row]

In [13]:
items = []
for i in range(1, 25):
    items.append(credit_card_dataX['item'+str(i)].astype(str).unique())

tableau_des_items = np.unique(np.concatenate(items))
print("Nombre d'items différentes : ",tableau_des_items.size)

Nombre d'items différentes :  142

In [14]:
df_item = pd.DataFrame(columns=tableau_des_items,index=credit_card_dataX.index)

for row in credit_card_dataX.index:
    for i in range(1,25):
        if type(credit_card_dataX[f"item{i}"][row]) == float: # Stop si valeur nulle
            break
        df_item[f"{credit_card_dataX[f'item{i}'][row]}"][row] = credit_card_dataX[f"Nbr_of_prod_purchas{i}"][row]

In [73]:
merged_data = pd.merge(credit_card_dataX, credit_card_dataY, on='ID')

# Concaténation des deux DF 
df_make_item = pd.concat([df_make, df_item], axis=1)

# Rajout de la colonne "Nb_of_items" 
df_make_item['Nb_of_items'] = credit_card_dataX['Nb_of_items']

# Rajoute les colonnes "cash_price1", "cash_price2", ..., "cash_price24"
cash_price_columns = ["cash_price" + str(i) for i in range(1, 25)]
X_cash_price = credit_card_dataX[cash_price_columns]
df_make_item = pd.concat([df_make_item, X_cash_price], axis=1)

# Rajoute la colonne "fraud_flag"
df_make_item['fraud_flag'] = merged_data['fraud_flag'] 

# Rajoute la colonne "ID"
df_make_item['ID'] = merged_data['ID'] 

# Dans le doute où le modèle ne sait pas gérer les NaN et les cases vides, on remplace par des 0.
df_make_item = df_make_item.fillna(0)

# **Machine learning using logistic regression**

In [142]:
model = LogisticRegression()

In [143]:
df_make_item["fraud_flag"].value_counts()

0    18119
1      236
Name: fraud_flag, dtype: int64

In [144]:
# separating the data for analysis
legit = df_make_item[df_make_item.fraud_flag == 0]
fraud = df_make_item[df_make_item.fraud_flag == 1]

In [145]:
print(legit.shape)
print(fraud.shape)

(18119, 598)
(236, 598)

On remarque un grande imbalance entre les transactions fraduleuses et celles qui sont légitimes. Dans un premier temps, on voit effectuer un under-sampling sur toute la bdd. On verra après que le test d'évalution renvoie un résultat plus au moins satisfaisant

Performing Undersampling

In [146]:
legit_sample = legit.sample(n=236)

In [147]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [148]:
new_dataset['fraud_flag'].value_counts()

0    236
1    236
Name: fraud_flag, dtype: int64

In [149]:
X = new_dataset.drop(columns='fraud_flag', axis=1)
Y = new_dataset['fraud_flag']

In [150]:
# Séparation en ensembles d'entraînement et de test
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=42)

In [151]:
Y_train.head()

14042    1
7163     0
16825    1
1101     0
983      1
Name: fraud_flag, dtype: int64

In [152]:
# distribution of legit transactions & fraudulent transactions
Y_train.value_counts()

0    192
1    185
Name: fraud_flag, dtype: int64

In [153]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

**Evaluation du modèle**

In [154]:
# accuracy on training data
Y_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(Y_train_prediction, Y_train)

In [155]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.596816976127321

In [156]:
# accuracy on test data
Y_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(Y_test_prediction, Y_test)

In [157]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.5368421052631579

**Evaluation du modèle à l'aide de la métrique proposée par BNP**

In [158]:
from sklearn.metrics import average_precision_score
average_precision = average_precision_score(Y_test,Y_test_prediction)
print(average_precision)

0.5447402820777434

Pour que les résultas soient plus représentatifs, on performera le under-sampling que sur la base de training

In [159]:
X = df_make_item.drop(columns="fraud_flag",axis=1)
Y = df_make_item[["fraud_flag","ID"]]

In [160]:
X.head()

,4 SEASONS OUTDOOR,4MOMS,AB AUDIO,ABC,ACQUA DI PARMA,AEG,AESOP,ALESSI,ALLSAINTS,ALLSORTED,...,cash_price16,cash_price17,cash_price18,cash_price19,cash_price20,cash_price21,cash_price22,cash_price23,cash_price24,ID
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,85517
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,51113
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83008
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,78712
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,77846

In [161]:
print(X.columns)

Index(['4 SEASONS OUTDOOR', '4MOMS', 'AB AUDIO', 'ABC', 'ACQUA DI PARMA',
       'AEG', 'AESOP', 'ALESSI', 'ALLSAINTS', 'ALLSORTED',
       ...
       'cash_price16', 'cash_price17', 'cash_price18', 'cash_price19',
       'cash_price20', 'cash_price21', 'cash_price22', 'cash_price23',
       'cash_price24', 'ID'],
      dtype='object', length=597)

In [162]:
print(Y.columns)

Index(['fraud_flag', 'ID'], dtype='object')

In [163]:
# Séparation en ensembles d'entraînement et de test
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=42)

In [164]:
merged_data_train = pd.merge(X_train, Y_train, on="ID")

In [165]:
merged_data_train["fraud_flag"].value_counts()

0    14489
1      195
Name: fraud_flag, dtype: int64

In [166]:
# separating the data for analysis
legit_train = merged_data_train[merged_data_train.fraud_flag == 0]
fraud_train = merged_data_train[merged_data_train.fraud_flag == 1]

In [167]:
print(legit_train.shape)
print(fraud_train.shape)

(14489, 598)
(195, 598)

In [191]:
legit_sample_train = legit_train.sample(n=8*195)

In [192]:
new_dataset_train = pd.concat([legit_sample_train, fraud_train], axis=0)

In [193]:
new_dataset_train['fraud_flag'].value_counts()

0    1560
1     195
Name: fraud_flag, dtype: int64

In [194]:
X_train_sample = new_dataset_train.drop(columns='fraud_flag', axis=1)
Y_train_sample = new_dataset_train['fraud_flag']

In [195]:
# training the Logistic Regression Model with Training Data
model.fit(X_train_sample, Y_train_sample)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [196]:
# accuracy on training data
Y_train_prediction = model.predict(X_train_sample)
training_data_accuracy = accuracy_score(Y_train_prediction, Y_train_sample)

In [197]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.8894586894586894

In [198]:
Y_test.head()

       fraud_flag
11430           0
2998            0
10495           0
273             0
12636           0

In [199]:
Y_train_sample.head()

9620     0
12849    0
8591     0
10129    0
6563     0
Name: fraud_flag, dtype: int64

In [200]:
Y_train_prediction

array([0, 0, 0, ..., 0, 0, 0])

In [201]:
Y_test_prediction

array([0, 1, 1, ..., 1, 1, 1])

In [202]:
Y_test.head()

       fraud_flag
11430           0
2998            0
10495           0
273             0
12636           0

In [203]:
Y_test = Y_test.drop("ID" , axis = 1)

KeyError: ignored

In [204]:
# accuracy on test data
Y_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(Y_test_prediction, Y_test)

In [205]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9880141650776355

In [206]:
from sklearn.metrics import average_precision_score

average_precision = average_precision_score(Y_test,Y_test_prediction)
print(average_precision)

0.011168618904930537